src/main/mule/dev-poc-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dev-poc-cicdFlow" doc:id="41a6362f-b6f9-42ee-ac85-42d926ce3b1c" >
		<scheduler doc:name="Scheduler" doc:id="b8149661-fab9-40f5-92c7-9770a1f00823" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="9184559d-343f-40d8-a21a-6eb7f3d97938" message='#["Flow Started at:" ++ now() as String]'/>
		<ee:transform doc:name="Sample Payload" doc:id="11fb4ab4-28ff-4581-a034-2888e68a8540" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	 {
  "SalesOrderLine": {
    "modify_date": "2021-01-26-19.36.09.93509",
    "facility_number": "XX",
    "load_id": "",
    "order_number": "121818",
    "sku": "184C10/3",
    "class": "C1",
    "quantity_shipped": 9.0000,
    "uom": "",
    "ParentMuId": "",
    "ParentType": "",
    "ChildMuId": "",
    "lot_id": "00016303001001",
    "vendor_id": "",
    "ManufacturingDate": "",
    "ExpirationDate": "",
    "SerialNumber": "",
    "FunctionId": "",
    "customer_name": "Valley Prod. (Knoxville)",
    "customer_number": "349200-000",
    "CustomerSeq": "000",
    "customer_addr_1": "7130 Small Creek Way",
    "customer_addr_2": null,
    "city": "Powell",
    "state": "TN",
    "zip": "37849",
    "order_date": "01262021",
    "delivery_date": "01282021",
    "customer_ref_number": "TestBJB-012621-1",
    "rebate_code_1": "",
    "rebate_amount_1": 0,
    "rebate_code_2": "",
    "rebate_amount_2": "",
    "order_value": "",
    "total_sales_amount": "215.00",
    "edi_custoemr_id": "",
    "edi_partner_id": "",
    "edi_order_flag": "",
    "salesman_initials": "DS",
    "customer_edi_sku_one": "",
    "customer_edi_sku_two": null,
    "order_line_number": 1,
    "customer_edi_order_line": "",
    "price_type": "",
    "misc_charge_code_1": 0,
    "misc_charge_amount_1": 0,
    "misc_charge_code_2": "13",
    "misc_charge_amount_2": 30,
    "misc_charge_code_3": 0,
    "misc_charge_amount_3": 0,
    "misc_charge_code_4": 0,
    "misc_charge_amount_4": 0,
    "misc_charge_code_5": 0,
    "misc_charge_amount_5": 0,
    "quantity_ordered": 10.0000,
    "price": "18.50",
    "index": 1,
    "cost": 18.50,
    "line_weight": "332.5000",
    "line_comment_one": "",
    "LoadTime": "2021-01-26-19.36.09.94309",
    "ModifyDate": "2021-01-26-19.36.09.94309"
  },
  "SalesOrderLine": {
    "modify_date": "2021-01-26-19.36.09.93509",
    "facility_number": "XX",
    "load_id": "",
    "order_number": "121818",
    "sku": "184C10/3",
    "class": "C1",
    "quantity_shipped": 1.0000,
    "uom": "",
    "ParentMuId": "",
    "ParentType": "",
    "ChildMuId": "",
    "lot_id": null,
    "vendor_id": "",
    "ManufacturingDate": "",
    "ExpirationDate": "",
    "SerialNumber": "",
    "FunctionId": "",
    "customer_name": "Valley Prod. (Knoxville)",
    "customer_number": "349200-000",
    "CustomerSeq": "000",
    "customer_addr_1": "7130 Small Creek Way",
    "customer_addr_2": null,
    "city": "Powell",
    "state": "TN",
    "zip": "37849",
    "order_date": "01262021",
    "delivery_date": "01282021",
    "customer_ref_number": "TestBJB-012621-1",
    "rebate_code_1": "",
    "rebate_amount_1": 0,
    "rebate_code_2": "",
    "rebate_amount_2": "",
    "order_value": "",
    "total_sales_amount": "215.00",
    "edi_custoemr_id": "",
    "edi_partner_id": "",
    "edi_order_flag": "",
    "salesman_initials": "DS",
    "customer_edi_sku_one": "",
    "customer_edi_sku_two": null,
    "order_line_number": 1,
    "customer_edi_order_line": "",
    "price_type": "",
    "misc_charge_code_1": 0,
    "misc_charge_amount_1": 0,
    "misc_charge_code_2": "13",
    "misc_charge_amount_2": 30,
    "misc_charge_code_3": 0,
    "misc_charge_amount_3": 0,
    "misc_charge_code_4": 0,
    "misc_charge_amount_4": 0,
    "misc_charge_code_5": 0,
    "misc_charge_amount_5": 0,
    "quantity_ordered": 10.0000,
    "price": "18.50",
    "index": 0,
    "cost": 0,
    "line_weight": "332.5000",
    "line_comment_one": "",
    "LoadTime": "2021-01-26-19.36.09.94309",
    "ModifyDate": "2021-01-26-19.36.09.94309"
  }
}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Order Number" doc:id="9a3478c8-54ca-464e-be32-40a931f9a213" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (

    $.SalesOrderLine.order_number
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Payload Size" doc:id="31ce8cb0-9351-4fcf-8465-4505a7ced779" message="#[%dw 2.0
output application/json
---
{
	
	orderNumber: payload[0]
}]"/>
	</flow>
</mule>
