src/main/mule/dev-poc-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="513ab882-9139-4cda-b545-a5ef22dcf975" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="11540e0d-634f-4bfe-b651-c6e3ee8a52ec" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="121844b2-5bca-47ab-825e-6b876a239ccc" file="dev.properties" />
	<configuration-properties doc:name="Configuration properties" doc:id="ef495b04-b43d-4080-8b47-d46a729f41ee" file="application.properties" />
	<global-property doc:name="Global Property" doc:id="548bc02d-7f2f-46d2-a6ca-1be2f23408d5" name="env" value="dev" />
	<flow name="dev-poc-cicdFlow" doc:id="41a6362f-b6f9-42ee-ac85-42d926ce3b1c" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="b8149661-fab9-40f5-92c7-9770a1f00823">
			<scheduling-strategy>
				<fixed-frequency frequency="10" timeUnit="MINUTES" />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="9184559d-343f-40d8-a21a-6eb7f3d97938" message='#["Flow Started at:" ++ now() as String]'/>
		<ee:transform doc:name="Sample Payload" doc:id="11fb4ab4-28ff-4581-a034-2888e68a8540" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	 {
  "SalesOrderLine": {
    "modify_date": "2021-01-26-19.36.09.93509",
    "facility_number": "XX",
    "load_id": "",
    "order_number": "121818",
    "sku": "184C10/3",
    "class": "C1",
    "quantity_shipped": 9.0000,
    "uom": "",
    "ParentMuId": "",
    "ParentType": "",
    "ChildMuId": "",
    "lot_id": "00016303001001",
    "vendor_id": "",
    "ManufacturingDate": "",
    "ExpirationDate": "",
    "SerialNumber": "",
    "FunctionId": "",
    "customer_name": "Valley Prod. (Knoxville)",
    "customer_number": "349200-000",
    "CustomerSeq": "000",
    "customer_addr_1": "7130 Small Creek Way",
    "customer_addr_2": null,
    "city": "Powell",
    "state": "TN",
    "zip": "37849",
    "order_date": "01262021",
    "delivery_date": "01282021",
    "customer_ref_number": "TestBJB-012621-1",
    "rebate_code_1": "",
    "rebate_amount_1": 0,
    "rebate_code_2": "",
    "rebate_amount_2": "",
    "order_value": "",
    "total_sales_amount": "215.00",
    "edi_custoemr_id": "",
    "edi_partner_id": "",
    "edi_order_flag": "",
    "salesman_initials": "DS",
    "customer_edi_sku_one": "",
    "customer_edi_sku_two": null,
    "order_line_number": 1,
    "customer_edi_order_line": "",
    "price_type": "",
    "misc_charge_code_1": 0,
    "misc_charge_amount_1": 0,
    "misc_charge_code_2": "13",
    "misc_charge_amount_2": 30,
    "misc_charge_code_3": 0,
    "misc_charge_amount_3": 0,
    "misc_charge_code_4": 0,
    "misc_charge_amount_4": 0,
    "misc_charge_code_5": 0,
    "misc_charge_amount_5": 0,
    "quantity_ordered": 10.0000,
    "price": "18.50",
    "index": 1,
    "cost": 18.50,
    "line_weight": "332.5000",
    "line_comment_one": "",
    "LoadTime": "2021-01-26-19.36.09.94309",
    "ModifyDate": "2021-01-26-19.36.09.94309"
  },
  "SalesOrderLine": {
    "modify_date": "2021-01-26-19.36.09.93509",
    "facility_number": "XX",
    "load_id": "",
    "order_number": "121818",
    "sku": "184C10/3",
    "class": "C1",
    "quantity_shipped": 1.0000,
    "uom": "",
    "ParentMuId": "",
    "ParentType": "",
    "ChildMuId": "",
    "lot_id": null,
    "vendor_id": "",
    "ManufacturingDate": "",
    "ExpirationDate": "",
    "SerialNumber": "",
    "FunctionId": "",
    "customer_name": "Valley Prod. (Knoxville)",
    "customer_number": "349200-000",
    "CustomerSeq": "000",
    "customer_addr_1": "7130 Small Creek Way",
    "customer_addr_2": null,
    "city": "Powell",
    "state": "TN",
    "zip": "37849",
    "order_date": "01262021",
    "delivery_date": "01282021",
    "customer_ref_number": "TestBJB-012621-1",
    "rebate_code_1": "",
    "rebate_amount_1": 0,
    "rebate_code_2": "",
    "rebate_amount_2": "",
    "order_value": "",
    "total_sales_amount": "215.00",
    "edi_custoemr_id": "",
    "edi_partner_id": "",
    "edi_order_flag": "",
    "salesman_initials": "DS",
    "customer_edi_sku_one": "",
    "customer_edi_sku_two": null,
    "order_line_number": 1,
    "customer_edi_order_line": "",
    "price_type": "",
    "misc_charge_code_1": 0,
    "misc_charge_amount_1": 0,
    "misc_charge_code_2": "13",
    "misc_charge_amount_2": 30,
    "misc_charge_code_3": 0,
    "misc_charge_amount_3": 0,
    "misc_charge_code_4": 0,
    "misc_charge_amount_4": 0,
    "misc_charge_code_5": 0,
    "misc_charge_amount_5": 0,
    "quantity_ordered": 10.0000,
    "price": "18.50",
    "index": 0,
    "cost": 0,
    "line_weight": "332.5000",
    "line_comment_one": "",
    "LoadTime": "2021-01-26-19.36.09.94309",
    "ModifyDate": "2021-01-26-19.36.09.94309"
  }
}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Order Number" doc:id="9a3478c8-54ca-464e-be32-40a931f9a213" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (

    $.SalesOrderLine.order_number
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Payload Size" doc:id="31ce8cb0-9351-4fcf-8465-4505a7ced779" message="#[%dw 2.0
output application/json
---
{
	
	orderNumber: payload[0]
}]"/>
	</flow>
	<flow name="dev-poc-cicdFlow1" doc:id="dfca48d7-05d9-407d-ad43-14652c915324" >
		<http:listener doc:name="Listener" doc:id="4f22582b-6202-4a80-85b8-103900c775d1" config-ref="HTTP_Listener_config" path="/test/cicdpipeline/*"/>
		<ee:transform doc:name="Transform Message" doc:id="48e02773-c417-4e3f-a483-3b89d58c5c63" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
readUrl("classpath://SystemsInsight.csv", "application/csv")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="CSV to JSON" doc:id="4a8d80cc-cbf5-4ad9-9a35-9db6f032cf67">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="orginPayload" ><![CDATA[%dw 2.0
output application/csv
---
payload ]]></ee:set-variable>
				<ee:set-variable variableName="csvJSONPayload" ><![CDATA[%dw 2.0
output application/json 

--- 
payload map (a,b)->{
    ItemNumber: a[0],
    quantityOrdered: a[1],
    CustomerNumber: (a[2]  splitBy("-"))[0],
    CustomerNumberloc: (a[2]  splitBy("-"))[1],
    DeliveryDate: a[3] 
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Distinct Customer Numbers" doc:id="ee4ec535-a5c4-4148-b512-7a666ef44450" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="distinctCustomerNumber" ><![CDATA[%dw 2.0
output application/json
var CustomerNumberpayload = vars.csvJSONPayload.CustomerNumber  groupBy "CustomerNumber"
var distinctPayload = CustomerNumberpayload.CustomerNumber distinctBy $
---
distinctPayload default []]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each Customer Names" doc:id="747dc457-4cfa-4337-a7de-f844c13e0310" collection="#[vars.distinctCustomerNumber]">
			<logger level="INFO" doc:name="Logger" doc:id="505cfb24-afad-41f5-9ffd-2233ffcd7334" message="Processing Customer Number #[payload]"/>
			<ee:transform doc:name="Payload for Customer Name" doc:id="1fc97828-048f-45ab-8cb6-2b79f23be9cd">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.csvJSONPayload filter $.CustomerNumber == payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<ee:transform doc:name="Sales Order JSON" doc:id="fbd8d05e-c6f9-4208-8d90-dc465c0c9527">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
{
  "SalesOrders": [
    {
      "Cast_id": "",
      "alternateOrderNumber": "",
      "documentDate": "",
      "order_id": "",
      "orderStatus": "",
      "orderCategory": "",
      "orderType": "",
      "requestedShipDateTime": "", 
      "promisedShipDateTime": "",
      "promisedDeliveryDateTime":(payload[0]."DeliveryDate") replace "/" with "-",// Delivery date
      "paymentTerms": "",
      "salesOrganization": "",
      "sellerOne": null,
      "sellerTwo": null,
      "sellerThree": null,
      "freightAmount": "",
      "customer": [
        {
          "customerPartyId": "",
          "customerPartyAltId": null,
          "billing": [
            
          ],
          "shipping": [
            {
              "customerID": payload[0].CustomerNumber,//Customer ID
              "customerAltID": "",
              "customername": "",
              "shippingAddressLineOne": "",
              "shippingAddressLineTwo": "",
              "shippingAddressLineThree": "",
              "shippingAddressLineFour": "",
              "shippingCity":"",
              "shippingState": "",
              "shippingCountry": "USA",
              "shippingPostalCode": "",
              "shippingPhone": "",
              "shippingMobilePhone": "",
              "shippingEmail": ""
            }
          ]
        }
      ],
      "shipFrom": [
        {
          "shipFromID": "",
          "shipFromAltId": "",
          "shipFromName": "",
          "shippingAddressLineOne": "",
          "shippingAddressLineTwo": "",
          "shippingAddressLineThree": "",
          "shippingAddressLineFour": "",
          "shippingCity": "",
          "shippingState": "",
          "shippingCountry": "",
          "shippingPostalCode": "",
          "shippingPhone": "",
          "shippingMobilePhone": "",
          "shippingEmail": ""
        }
      ],
      "headerAttributes": [
        
      ],
      "items": payload map((x,y)-> {
        
          "shippinglineNumber": x.ItemNumber ,//Item Numbers
          "orderLineNumber": "",
          "lineStatus": "",
          "lineCategory": "",
          "loadingLocation": "",
          "item_id": "",
          "itemDescription": "",
          "itemQuantity": x.quantityOrdered,//Quanity
          "itemUOM": "",
          "itemPrice": "",
          "overridePrice": "",
          "extendedPrice": "",
          "qualityCode": "",
          "retailPrice": "",
          "itemWeight": "",
          "itemWeightUOM": "",
          "itemVolume": "",
          "lot": "",
          "lineAttributes": [
            
          ]
        })
    }
  ]
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
			<logger level="INFO" doc:name="Payload" doc:id="2c85b1bc-23d9-4cb4-a4a1-6a96a5cf7851" message="#[payload]"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="e1f68557-e4cb-4a42-8eec-717df4bc8b2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.csvJSONPayload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
